.device-cards-container {
    display: flex;
    gap: 40px;
    padding: 20px;
    width: 100%;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}


.card {
    background-color: #fff;
    color: #333;
    border: 2px solid #fa9919;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 400px;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-header .emoji {
    font-size: 24px;
    margin-right: 10px;
}

.card button {
    background-color: #fa9919;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.card button:hover {
    opacity: 0.7;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.card-buttons button {
    flex: 1;
    background-color: #fa9919;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 14px;
    transition: opacity 0.3s ease;
}

.card-buttons button:hover {
    opacity: 0.7;
}
