.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    border-bottom: 1px solid #444;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header-buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.header-buttons button:hover {
    background-color: #555;
}

.sidebar {
    background-color: #222;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #444;
}

