.sidebar {
    background-color: #fff;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar button {
    background-color: transparent;
    color: #fa9919;
    border: 2px solid #fa9919;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar button:hover {
    background-color: #fa9919;
    color: #fff;
}

.sidebar button.active {
    background-color: #fa9919;
    color: #fff;
}
