<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotherHub</title>

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/components.css">

    <script src="../static/js/endpoints.js" defer></script>
    <script src="../static/js/main.js" defer></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>MotherHub ChilipepperLABS</h1>
            <div class="header-buttons">
                <button onclick="refreshPage()">Refresh</button>
                <button onclick="rebootAsync()">Reboot</button>
                <button onclick="shutdownAsync()">Shutdown</button>
            </div>
        </div>
        <div class="main">

            <div class="sidebar">
                <button onclick="changeContentToCameras()">Cámaras</button>
                <button onclick="changeContentToWifi()">Wifi</button>
            </div>

            <div class="content" id="content-panel">
                ChilipepperLABS
            </div>

        </div>
    </div>

</body>
</html>
